* {
    background-color: #3d3d3d;
    color: white;
    font-family: sans-serif;
}

body {
    margin: 0px;
}

nav {
    /* styling the navigation bar */
    background-color: #2b2b2b;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 48px;
    /* fixing the navigation bar at the top */
    position: fixed;
    top: 0;
    width: 100%;
    /* positioning children in bar */
}

.nav_button {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    border-style: none;
    border-radius: 6px;
}

#upload_nav_button {
    background-image: url(../icons/ic_upload_36.png);
    /* src: https://material.io/icons/#ic_file_upload (accessed: 28.11.2017 23:12) */
    background-repeat: no-repeat;
    background-position: center center;
    left: 12px;
}

#search_nav_button {
    background-image: url(../icons/ic_search_36.png);
    /* src: https://material.io/icons/#ic_search (accessed: 28.11.2017 23:13) */
    background-repeat: no-repeat;
    background-position: center center;
    left: 60px;
}

#login_nav_button {
    background-image: url(../icons/ic_login_36.png);
    /* src: https://material.io/icons/#ic_person (accessed: 28.11.2017 23:13) */
    background-repeat: no-repeat;
    background-position: center center;
    right: 12px;
}

.login_nav_content {
    display: none;
    position: absolute;
    right: 14px;
    top: 42px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.login_nav_content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.login_nav_content a:hover {
    background-color: #4f4f4f;
}

#login_nav_button:hover ~ .login_nav_content {
    display: block;
}

.login_nav_content:hover {
    display: block;
}


#logo_nav_img {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -50px;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
    color: darkgray;
}

footer {
    /* styling the footer */
    background-color: #2b2b2b;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    height: 45px;
    /* fixing the header at the bottom */
    bottom: 0;
    width: 100%;
    position: fixed;
    /* designing elements in the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_link {
    background-color: transparent;
}

#main {
    margin-top: 48px;
    margin-bottom: 45px;
}

.minibar {
    width: 100%;
    float: left;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 14px;
}

.minibar:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.user_info_container {
    width: 100%;
    float: left;
    padding: 15px;
    background-color: #333333;
}

#user_profilepic {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 10px;
}

#user_name {
    float: left;
    padding-left: 15px;
    font-size: 20px;
    background-color: #333333;
}

#user_registered_on {
    float: left;
    padding-left: 15px;
    font-size: 15px;
    background-color: #333333;
}

.user_info_container:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

#imagecontainer {
    display: flex;
    padding: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#imagecontainer:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

/* using media rules to resize uploaded images depending on screen size */

@media only screen and (min-width: 0px) {
    .imagefield {
        width: 98%;
        min-height: 250px;
        max-height: 250px;
        float: left;
    }
}

@media only screen and (min-width: 364px) {
    .imagefield {
        width: 48%;
        min-height: 250px;
        max-height: 250px;
        float: left;
    }
}

@media only screen and (min-width: 650px) {
    .imagefield {
        width: 24%;
        min-height: 250px;
        max-height: 250px;
        float: left;
    }
}

@media only screen and (min-width: 860px) {
    .imagefield {
        width: 16%;
        min-width: 60px;
        min-height: 300px;
        float: left;
    }
}

.imagefield div {

    width: 100%;
    overflow: hidden;
}

.uploaded_image {

    display: block;
    margin: auto;

    max-width: 100%;
    max-height: 200px;
}

#uploadContainer {
    position: absolute;
    top: 48px;
    width: 100%;
}

#imageUploadForm {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

#uploadButtonContainerField {
    margin: auto;
    width: 75%;
}

.uploaded_image_name {
    text-align: center;
}

#impressum {
    padding: 15px;
}

select {
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

#tagdisplay {
    background-color: #2b2b2b;
    width: 100%;
    height: 24px;
    margin: auto;
}

#livesearch {

    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

#livesearch div {

    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

#livesearch div:hover {
    background-color: #4f4f4f;
}

.comment {
    width: 50%;
    margin: auto;
    display: block;
    background-color: #2b2b2b;
    padding: 14px;
    margin-bottom: 14px;
    overflow: auto;
    border-radius: 8px;
}

.comment * {
    background-color: transparent;
}


.comment_userinfo {
    float: left;
    display: block;
    text-align: center;
    width = 25%;
    margin-right: 14px;
}

.comment_userinfo img {
    width: 64px;
    height: 64px;
    display: block;
    margin: auto;

}

.comment_userinfo a {
    text-decoration: none;

}

.comment_userinfo:after {

    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.comment span {
    float:left;
    width: 75%;
    word-wrap: break-word;
}

#commentinput {

    
    width: 50%;
    margin: auto;
    display: block;
    background-color: #2b2b2b;
    padding: 14px;
    margin-bottom: 58px;
    overflow: auto;
    text-align: center;
        border-radius: 8px;

}


#commentinput * {
    
    background-color: transparent;

}

#commentinputfield {
    text-align: left;
       width: 95%;
    margin: auto;
    margin-bottom: 14px;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: darkgray;
    font-size: 18px;
    display: block;
    overflow: hidden;
    resize: none;
    word-break:normal;
    padding-bottom: 6px;
    
}

#commentinputfield:focus {
    
    outline: none;
}

#image_detail_view {
    max-width: 50%;
    height: auto;
    margin: auto;
    margin-top: 86px;
    display: block;
    
}

#image_detail_view img {
    width: 100%;
}


#image_details {
        
    width: 50%;
    margin: auto;
    margin-top: 24px;
    display: block;
    background-color: #2b2b2b;
    padding: 14px;
    margin-bottom: 58px;
    overflow: auto;
    text-align: center;
        border-radius: 8px;

}
#image_details * {
    background-color: transparent;
}

#image_detail_name {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 8px;
}

#image_detail_description {
    text-align: left;
    font-size: 14pt;
    margin-bottom: 16px;
}

#image_detail_meta {
    
    padding-top: 4px;
    border-top: solid 1px white;
    font-size: 10pt;
}

#user_for_image {
    float:left;
}

#image_uploaded_on {
    float:right;
}
